body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

header {
    background-color: #ddffd8;
    margin: 0 0 10px 0
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

main {
    padding: 15px 0px;
    margin: 15px 0;   
}

footer {
    padding: 10px 0;
    margin: 10px 0;
    background-color: #aacca5
}

a {
    text-decoration: none;
    color: black;
}

.header-wrapper a {
    padding: 10px 5px;
    background-color: #ddffd8;
}

.header-wrapper a:hover {
    background-color: #b0d4aa81;
    border-radius: 5px;
    transition: all 0.7s ease
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

img.img-photo {
    height: 100%;
    width: 100%;
    border-radius: 7px;
}

.biography {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.text-biography {
    height: 50%;
    width: 50%;
}

h3.title {
    font-size: 130%;
    text-align: center;
    font-weight: 600;
    line-height: 25px;

}

.photo-biography {
    height: 50%;
    width: 50%;
}

div.text {
    margin: 10px 0;
}

p {
    margin: 15px;
}

a.IT {
    color: blue;
    text-decoration: underline;
}


/* IT */

.card-IT {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}